.controllers {
  padding: 0.5em;

  .control {
    padding: 0 0.5em;
  }

  .svg-inline--fa {
    color: #fff;
  }
}

.playing {
  .svg-inline--fa {
    animation: playing .8s linear infinite alternate !important;
  }
}

@keyframes playing {
  from {
    color: #00bfff ;
  }
  to {
    color: #00698b ;
  }
}