.slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;

  .context {
    padding: 2em;
    background: #00000036;
    color: white;
  }
}
