.slides {
  position: relative;
  height: 660px;

  &-content {
    height: 100%;
    transition: transform 0.5s ease-out;
  }

  &-controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }

  .slide {
    padding: 0;
    // padding-right: 0;
    // padding-left: 0;
  }
}
